body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: #e15f41;
}

.nav .nav-link.active{
    background-color: white;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

img{
    height: 400px;
    width: 100%;
}

#img-sobre{
   height: 300px;
}

.title{
    font-family: "Pacifico", cursive;
}

strong{
    color: #e15f41;
}

#sobre{
    background-color: #ffeae6;
}